

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>

<html>

<body>

<div class="center">

    <div class="card-wrapper">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img class="prod-image" src="generic-prod.png" alt="Product Photo"/>
                </div>
                <div class="flip-card-back">
                    <h1>Product Details</h1>
                    <p>Price</p>
                </div>
            </div>
        </div>
    </div>



</div>

</body>
</html>

<!-- Scripts -->
<script src="functions.js"></script>
